<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<%= form_with url: "/parents", method: :post, local: true do |form| %>
  <%= form.label "Enter a new author" %></br>
  <%= form.text_field  :name %>
  <%= form.label :name, "name" %></br>
  <%= form.text_field :copies_sold %>
  <%= form.label :publish_date, "copies sold" %></br>
  <%= form.radio_button :doa, "dead" %>
  <%= form.label :doa, "author is dead", :value => "dead" %></br>
  <%= form.radio_button :doa, "alive" %>
  <%= form.label :doa, "author is alive", :value => "alive" %></br>
  <%= form.submit "Create Author" %>
<% end %>