<nav>
  <a href="/child_table_name">Books</a>
  <a href="/parents">Authors</a>
</nav>

<h1><%= @author.name %></h1>

<p> Books in stock for <%= @author.name %>: <%= @author.book_count %></p>

<p><b>Author pushing daisies: </b><%= @author.dead %></p>

<p><b>Copies sold: </b><%= @author.sales %></p>

<p><b>Books in stock: </b><%= @author.books.size %>

<a href="/parents/<%= @author.id %>/child_table_name">View Books</a>

<a href="/parents/<%= @author.id %>/edit">Update Author</a>

<form action="/parents/<%= @author.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>
