<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1><%= @author.name %></h1>

<p><b>Books in stock for <%= @author.name %>: <%= @author.book_count %></b></p>

<p><b>Author pushing daisies: </b><%= @author.dead %></p>

<p><b>Copies sold: </b><%= @author.sales %></p>

<p><b>Books in stock: </b><%= @author.books.size %>

<%= link_to "View Books", "/parents/#{@author.id}/child_table_name" %>

<%= link_to "Update Author", "/parents/#{@author.id}/edit" %>

<%= form_with url: "/parents/#{@author.id}", method: :delete, local: true do |form| %>
  <%= form.submit "Delete" %>
<% end %>
