<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<%= form_with url: "/child_table_name/#{@book.id}", method: :patch, local: true, data: { turbo: false } do |form| %>
  <%= form.label "Edit Book" %></br>
  <%= form.text_field  :name %>
  <%= form.label :name, "name" %></br>
  <%= form.number_field :publish_date %>
  <%= form.label :publish_date, "copies sold" %></br>
  <%= form.radio_button :new_or_old, "new" %>
  <%= form.label :new_or_old, "book is newly printed", :value => "new" %></br>
  <%= form.radio_button :new_or_old, "old" %>
  <%= form.label :new_or_old, "book is used", :value => "old" %></br>
  <%= form.submit "Submit" %>
<% end %>
