<nav>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1>New Books</h1>

<% @books.each do |book| %>
  <% if book.new %>
    
    <h3>
      <%= link_to "#{book.name}", "/child_table_name/#{book.id}" %></br>
      <%= link_to "Update #{book.name}", "/child_table_name/#{book.id}/edit" %>

      <%= form_with url: "/child_table_name/#{book.id}", method: :delete, local: true do |form| %>
        <%= form.submit "Delete #{book.name}" %>
      <% end %>
    </h3>

    <p><b>This copy is new: </b><%= book.new %></p>

    <p><b>Year published: </b><%= book.publish_date %></p>
  <% end %>
<% end %>