<nav>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1>New Books</h1>

<% @books.each do |book| %>
  <% if book.new %>
      <%= link_to "#{book.name}", "/child_table_name/#{book.id}" %></br>
      <%= link_to "Update #{book.name}", "/child_table_name/#{book.id}/edit" %>

      <%= button_to "Delete #{book.name}", "/child_table_name/#{book.id}", method: :delete %>

      <p><b>This copy is new: </b><%= book.new %></p>

      <p><b>Year published: </b><%= book.publish_date %></p>
  <% end %>
<% end %>