<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1><%= @book.name %></h1>

<p><b>This copy is new: </b><%= @book.new %></p>

<p><b>Year published: </b><%= @book.publish_date %></p>

<a href="/child_table_name/<%= @book.id %>/edit">Update Book</a>

<form action="/child_table_name/<%= @book.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>
