<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1><%= @book.name %></h1>

<p><b>This copy is new: </b><%= @book.new %></p>

<p><b>Year published: </b><%= @book.publish_date %></p>

<%= link_to "Update Book<", "/child_table_name/#{@book.id}/edit" %>

<%= button_to "Delete", "/child_table_name/#{@book.id}", method: :delete %>
