<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1>Books Written by: <%= @author.name %></h1>

<%= link_to "Add Book", "/parents/#{@author.id}/child_table_name/new" %></br>

<%= link_to "Sort Books", :sort_by => "name" %></br>

<%= form_with url: "/parents/#{@author.id}/child_table_name", method: :get, local: true, data: {turbo_method: :read} do |form| %>
  <%= form.label "Show Only Books Published After Date" %>
  <%= form.number_field :threshold %>
  <%= form.label :threshold, "publish date" %>
  <%= form.submit "Submit" %>
<% end %>

<% @books.each do |book| %>
  <h3><%= book.name %></h3>

  <p><b>This copy is new: </b><%= book.new %></p>

  <p><b>Year published: </b><%= book.publish_date %></p>

  <%= button_to "Delete #{book.name}", "/child_table_name/#{book.id}", method: :delete %>
<% end %>