<nav>
  <a href="/child_table_name">Books</a>
  <a href="/parents">Authors</a>
</nav>

<h1>Books Written by: <%= @author.name %></h1>

<%= link_to "Sort Books", :sort => "name" %>

<% @books.each do |book| %>
  <h3><%= book.name %></h3>

  <p><b>This copy is new: </b><%= book.new %></p>

  <p><b>Year published: </b><%= book.publish_date %></p>

  <form action="/child_table_name/<%= book.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete <%= book.name %>"/>
  </form>
<% end %>

<a href="/parents/<%= @author.id %>/child_table_name/new">Add Book</a>