<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1>Books Written by: <%= @author.name %></h1>

<%= link_to "Add Book", "/parents/#{@author.id}/child_table_name/new" %></br>

<%= link_to "Sort Books", :sort_by => "name" %>

<% @books.each do |book| %>
  <h3><%= book.name %></h3>

  <p><b>This copy is new: </b><%= book.new %></p>

  <p><b>Year published: </b><%= book.publish_date %></p>

  <%= form_with url: "/child_table_name/#{book.id}", method: :delete, local: true do |form| %>
    <%= form.submit "Delete #{book.name}" %>
  <% end %>
<% end %>