<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<%= form_with url: "/parents/#{@author.id}/child_table_name", method: :post, local: true do |form| %>
  <%= form.label "Enter a new Book" %></br>
  <%= form.text_field  :name %>
  <%= form.label :name, "name" %></br>
  <%= form.text_field :publish_date %>
  <%= form.label :publish_date, "publish date" %></br>
  <%= form.radio_button :new_or_old, "new" %>
  <%= form.label :new_or_old, "book is newly printed", :value => "new" %></br>
  <%= form.radio_button :new_or_old, "old" %>
  <%= form.label :new_or_old, "book is used", :value => "old" %></br>
  <%= form.submit "Create Child" %>
<% end %>
